<table th:fragment = "posts" class="table container" style="text-align: center;">
  <h3 class="text-center mb-3">Posts</h3>
  <div th:replace = "~{fragments/button :: addPost}"></div>
  <thead class="thead-light">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.title}"></td>
    <td th:text="${post.author}"></td>
    <td th:text="${post.price}"></td>
    <td>
      <a th:href="@{'/post/postDetail/' + ${post.id}}" class="btn btn-primary">Detail</a>
      <a th:href="@{'/post/delete/' + ${post.id}}" sec:authorize="hasRole('ADMIN')" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>