<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "~{fragments/header:: header}"></head>

<body class="d-flex align-items-center justify-content-center my-5">
    <div style = "width: 60vw;height: 70vh;"
            class="shadow-lg rounded d-flex align-items-center justify-content-center flex-row-reverse">
        <div class="form_container h-100 w-50" style="z-index: 1;">
            <form class="d-flex align-items-center justify-content-center flex-column h-100 px-5"
                  method="post"
                  style="gap: 1.5rem"
                  role= "form"
                  th:action="@{/auth/login}"
                  th:object="${user}">

                <h1>Login</h1>

                <input class="form-control"  type="text" name="username"  placeholder="Username"  th:field="*{name}"  required>

                <input id="password"  class="form-control"  type="password" name="password"  placeholder="Password"  th:field="*{pass}"  required>
                <button  class="btn btn-outline-success btn-lg btn-block" type="submit" name="login">Login</button>
                <a href="/auth/register" class = "fs-5 text-decoration-none text-dark"> Register</a>
                <div th:replace = "~{error/alert:: wrongPass}"></div>
                <div th:replace = "~{error/alert:: registerSucess}"></div>
            </form>
        </div>
        <div th:replace = "~{fragments/authImage :: image}"></div>
    </div>
    <style th:replace = "~{fragments/style :: auth}"></style>

</body>
</html>