<button th:fragment = "smallSearchBtn" class="btn btn-outline-success btn-sm btn-block"
         type="submit"
         name="login">
  <i class="fa-solid fa-magnifying-glass"></i>
</button>

<button th:fragment = "smallCheckBtn" class="btn btn-outline-success btn-sm btn-block"
        type="submit"
        name="login">
  <i class="fa-solid fa-check"></i>
</button>

<a th:fragment = "returnMyTransactions" id="submit" href="/transaction/user/null?page=0"
   class="btn btn-outline-success btn-sm"><i class="fa-solid fa-rotate-left"></i></a>

<button th:fragment = "bigSearchBtn" class="btn btn-outline-success btn-lg btn-block"
        type="submit"
        name="login">
  <i class="fa-solid fa-magnifying-glass"></i>
</button>
