<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link"
                   sec:authorize="isAuthenticated()"
                   href="/post">Posts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   sec:authorize="hasRole('USER')"
                   href="/cart">Cart
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   sec:authorize="isAuthenticated()"
                   href="/auth/login">Log out
                </a>
            </li>
        </ul>
    </div>
</nav>