<section th:fragment="receipt" class="d-flex align-items-center justify-content-center my-5">

    <div style = "
                    width: 40vw;
                    height: 70vh;
                " class="shadow-lg rounded align-items-center justify-content-center flex-row-reverse">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="row text-center">

                    <h2 class="fw-bold mb-5">Transaction Receipt</h2>

                    <div class=" col-12 col mb-3">
                        <p class="mb-1">Transaction Date</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Sender</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Receiver</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Title</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Address</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Type</p>
                        <p>...</p>
                    </div>

                    <div class=" col-6 col mb-3">
                        <p class="mb-1">Price</p>
                        <p>...</p>
                    </div>

                    <p class="mt-4 pt-2 mb-0">Do you have any problem? <a href="">Please contact
                        us</a>
                    </p>

                    <div class="d-grid justify-content-center my-3">
                        <button id="submit" type="submit" class="btn btn-outline-success btn-lg">OK</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
